body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:80px;
  top:20px;
  width:320px;
  height:420px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:420px;
}
#u2 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:20px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:80px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:180px;
  top:410px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:50px;
  width:320px;
  height:130px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
}
#u12 {
  position:absolute;
  left:2px;
  top:57px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:50px;
  width:320px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:110px;
  width:320px;
  height:70px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:102px;
  top:61px;
  width:92px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:101px;
  top:83px;
  width:59px;
  height:15px;
  color:#CC0066;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:250px;
  top:63px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:355px;
  top:63px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0066;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:250px;
  top:83px;
  width:9px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0066;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:103px;
  top:126px;
  width:92px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:102px;
  top:148px;
  width:59px;
  height:15px;
  color:#CC0066;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:251px;
  top:126px;
  width:117px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:250px;
  top:148px;
  width:59px;
  height:15px;
  color:#CC0066;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:366px;
  top:126px;
  width:22px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0066;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:80px;
  top:190px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:80px;
  top:220px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:80px;
  top:250px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:80px;
  top:308px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:80px;
  top:338px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:80px;
  top:374px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:80px;
  top:279px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
