<ion-view view-title="微云媒">
    <ion-content>
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>-->
        <ion-list>
            <ion-item class="item-icon-right row" ng-repeat="list in items" style="border-right:0px;padding-top:10px;">
                <table class="item-table">
                    <tr>
                        <td style="width:75px;text-align:center;"><img src="img/ben.png" style="width:60px;height:60px;"></td>
                        <td>
                            <h3 style="font-weight:420;">你与手机君的关系</h3>

                            <h3 class="home-h3" style="color:#8EC61B;">分享之后每次阅读0.1元，10次xxxxxxxxxxxxxxxxaaaaaaaa</h3>

                            <h3>活动总奖金剩余2234元</h3>
                        </td>
                        <td style="width:90px;text-align:center;color:#FF0000">
                            <i class="ion-chevron-right home-i"></i>
                            <div style="float:right;font-size:130%;font-weight:500;color:#8EC61B;">￥20</div>
                        </td>
                    </tr>
                </table>
            </ion-item>
        </ion-list>
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>