body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:40px;
  width:320px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:40px;
  width:320px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:47px;
  top:43px;
  width:13px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:40px;
  top:72px;
  width:320px;
  height:428px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:428px;
}
#u7 {
  position:absolute;
  left:2px;
  top:206px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:100px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:54px;
  top:78px;
  width:333px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:54px;
  top:113px;
  width:270px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:47px;
  top:133px;
  width:303px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:286px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:303px;
  height:1px;
}
#u14 {
  position:absolute;
  left:55px;
  top:143px;
  width:270px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:47px;
  top:163px;
  width:303px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:286px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:303px;
  height:1px;
}
#u17 {
  position:absolute;
  left:55px;
  top:173px;
  width:270px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:48px;
  top:193px;
  width:303px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:286px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:303px;
  height:1px;
}
#u20 {
  position:absolute;
  left:56px;
  top:203px;
  width:270px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:48px;
  top:223px;
  width:303px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:286px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:303px;
  height:1px;
}
