<ion-view view-title="邀请粉丝返现金">
    <ion-content>
        <div class="padding" style="padding-left:25px;padding-right:25px;">
            <h4 style="font-weight:100;text-align:center;">您的邀请码</h4>
            <div style="border:2px dashed #9E9D9D;width:100%;">
                <h4 style="color:#E40303;text-align:center;">4CCYR4</h4>
            </div>
            <div style="border:1px solid #9E9D9D;margin-top:10px;">
                <h5 style="text-align:center;font-weight:100;">立即邀请好友</h5>
            </div>
            <div style="text-align:center;margin-top:5px;font-weight:400;">邀请好友可享受高额粉丝收益</div>
            <div style="margin-top:10px;font-size:95%;">粉丝奖励规则</div>
            <ol style="margin-top:10px;font-size:95%;" class="invite-fans">
                <li>您的好友只要在您发给他的红包页面领取新
                    手红包，下载本平台注册成功后成为您的粉丝；</li>
                <li>您的粉丝完成任务时，您最高可获得40%的
                    额外奖金。（如您以为粉丝完成了10元的任
                    务，您可获得4元的现金奖励）</li>
                <li>粉丝的粉丝完成任务您可以获得相应比例的
                    收益，粉丝奖励传递无上限</li>
                <li>举例说明：如果您每天邀请1位好友成为您的
                    粉丝，您的粉丝每天再邀请一人，按没人每天
                    赚10元钱，那么一个月后，您将赚到至少
                    5000元，并且此以后您每天都会有至少500元
                    的日收入，过万元的月收入</li>
            </ol>
        </div>
    </ion-content>
</ion-view>