<ion-view view-title="关于我们">
    <ion-content style="background:#EFEFF4;">
        <h3 style="text-align:center;padding-top:15px;margin-bottom:0px;">关于我们</h3>
        <div class="padding" style="text-indent: 2em;font-size:120%;color:#797980;">关于我们关于我们关于我们关于我们关于我们关
            于我们关于我们关于我们关于我们关于我们关于我们
            关于我们 关于我们关于我们关于我们关于我们关于我
            们关于我们
        </div>
    </ion-content>
    <div style="height:55px;position:absolute;bottom:42px;width:100%;text-align:center;">
        <h5 style="width:100%;margin-bottom:0px;">流量源泉 版权所有</h5>
        <h6 style="margin-top:0px;">Copyright ©2015 H6app.All Right Reserved</h6>
    </div>
</ion-view>