<ion-view view-title="微云媒">
    <ion-content>
        <div class="row padding" style="border-bottom:1px solid #F2F2F2;margin-bottom:5px;">
            <div style="flex:1;text-align:left;">
                <div>昨日收益（元）</div>
                <div class="me-margin me-color">13.68</div>
            </div>
            <div style="flex:1;">
                <div>一级粉丝数（人）<a class="me-color" href="#/tab/fansList">详情</a></div>
                <div class="me-margin me-color">1</div>
            </div>
        </div>
        <div class="row padding">
            <div style="flex:1;text-align:left;">
                <div class="me-margin">完成任务（次）</div>
                <div class="me-margin me-color">13.68</div>
            </div>
            <div style="flex:1;">
                <div class="me-margin">粉丝奖励比例（%）</div>
                <div class="me-margin me-color">13.68</div>
            </div>
        </div>
        <div class="list me-list">

            <div class="item item-divider" style="min-height:0px;">
            </div>

            <a class="item" href="#/tab/personal">
                <i class="ion-android-contact me-i-color"></i>
                个人资料
                <i class="ion-chevron-right me-i"></i>
            </a>
            <a class="item" href="#/tab/resetPass">
                <i class="ion-android-create me-i-color"></i>
                修改密码
            </a>
            <a class="item" href="#/tab/tixian">
                <i class="ion-ios-list me-i-color"></i>
                提现记录
            </a>
            <a class="item">
                <i class="ion-social-yen me-i-color"></i>
                提现(336元)
            </a>
            <a class="item" href="#/tab/unread">
                <i class="ion-chatbox-working me-i-color"></i>
                未读信息
                <span style="right:15px;" class="badge badge-assertive">1</span>
            </a>
            <a class="item" href="#/tab/about">
                <i class="ion-ios-people me-i-color"></i>
                关于我们
                <i class="ion-chevron-right me-i"></i>
            </a>
            <div class="item item-divider" style="min-height:0px;padding-top:0px;">
            </div>
            <a class="item" ng-click="exitApp()">
                <i class="ion-power me-i-color"></i>
                退出登录
            </a>


        </div>
    </ion-content>
</ion-view>