<ion-view view-title="微云媒">
    <ion-content>
        <div class="row padding">
            <div style="flex:1;text-align:left;">
                <div>粉丝收益（元）</div>
                13.68
            </div>
            <div style="flex:1;">
                <div>一级粉丝数（人）<a>详情</a></div>
                1
            </div>
        </div>
        <div class="row padding">
            <div style="flex:1;text-align:left;">
                <div>完成任务（次）</div>
                13.68
            </div>
            <div style="flex:1;">
                <div>粉丝奖励比例（%）</div>
                13.68
            </div>
        </div>
        <div class="list">

            <div class="item item-divider" style="min-height:0px;">
            </div>

            <a class="item" href="#">
                个人资料
            </a>
            <a class="item" href="#">
                修改密码
            </a>
            <a class="item" href="#/tab/tixian">
                提现记录
            </a>
            <a class="item" href="#">
                提现(336元)
            </a>
            <a class="item" href="#">
                未读信息
            </a>
            <a class="item" href="#">
                关于我们
            </a>
            <div class="item item-divider" style="min-height:0px;padding-top:0px;">
            </div>
            <a class="item" href="#">
                退出登录
            </a>


        </div>
    </ion-content>
</ion-view>