<ion-view view-title="修改密码">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="旧密码" ng-model="user.password" ng-init="user.password=''">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="新密码" ng-model="user.newPassword" ng-init="user.newPassword=''">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="重复新密码" ng-model="user.newPassword2" ng-init="user.newPassword2=''">
            </label>
            <button class="button button-balanced" style="width:100%;margin-top:10px;" ng-click="submit(user)">
                提交
            </button>
        </div>
    </ion-content>
</ion-view>