body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:80px;
  top:20px;
  width:320px;
  height:420px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:420px;
}
#u2 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:20px;
  width:320px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:80px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:180px;
  top:410px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:50px;
  width:320px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:50px;
  width:70px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:94px;
  top:66px;
  width:46px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:152px;
  top:52px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:152px;
  top:72px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:152px;
  top:87px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:178px;
  top:88px;
  width:153px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:340px;
  top:50px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:80px;
  top:110px;
  width:320px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:110px;
  width:70px;
  height:60px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:94px;
  top:126px;
  width:46px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:152px;
  top:112px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:152px;
  top:132px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:152px;
  top:147px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:178px;
  top:148px;
  width:153px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:340px;
  top:110px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:80px;
  top:169px;
  width:320px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:80px;
  top:169px;
  width:70px;
  height:60px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:94px;
  top:185px;
  width:46px;
  height:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:152px;
  top:171px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:152px;
  top:191px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:152px;
  top:206px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:178px;
  top:207px;
  width:153px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:340px;
  top:169px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:80px;
  top:229px;
  width:320px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:80px;
  top:229px;
  width:70px;
  height:60px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:94px;
  top:245px;
  width:46px;
  height:28px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:152px;
  top:231px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:152px;
  top:251px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:152px;
  top:266px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:178px;
  top:267px;
  width:153px;
  height:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:340px;
  top:229px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u78 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:80px;
  top:289px;
  width:320px;
  height:60px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:80px;
  top:289px;
  width:70px;
  height:60px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:94px;
  top:305px;
  width:46px;
  height:28px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:152px;
  top:291px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:152px;
  top:311px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:152px;
  top:326px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:178px;
  top:327px;
  width:153px;
  height:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:340px;
  top:289px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u95 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:80px;
  top:349px;
  width:320px;
  height:60px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:80px;
  top:349px;
  width:70px;
  height:60px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:94px;
  top:365px;
  width:46px;
  height:28px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:152px;
  top:351px;
  width:248px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:152px;
  top:371px;
  width:190px;
  height:14px;
  font-size:10px;
  color:#FF0000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:152px;
  top:386px;
  width:27px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:178px;
  top:387px;
  width:153px;
  height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:340px;
  top:349px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#CC0066;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
